
body {
  background-image: url("../images/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.barra-navegacion {
    display: flex;
    background-color: #fff;
    flex-direction: row;
    width: 95%;
    margin: 5% auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu-check {
  display: none;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 25px;
  height: 3px;
  background-color: black;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  background-color: white;
  position: absolute;
  width: 50%;
  border-radius: 5%;
  list-style: none;
}

.mobile-menu a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  display: block;
}


.menu-check:checked ~ .mobile-menu {
  display: flex;
}



.contenedor-header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
}
.bloque-texto-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    max-width: 358px;
    max-height: 343px;
    background-color: white;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
            box-shadow: 10px 8px 12px 0px rgba(0, 0, 0, 0.3);
}

.bloque-texto-download{
    color:white;
    background-color: #5956E9;
    font-size: 10px;
    font-family: Josefin Sans, sans-serif;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.bloque-imagen-contenedor{
    background-color: #ffffff; 
    padding: 0%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: inline-block; 
    
}
.contenedor-imagen img {
  display: block; 
  max-width: 100%; 
}
h1 {
    font-size: 25px;
    font-family: Josefin Sans, sans-serif;
    margin-bottom: 10px;
    color: #4169E1;
}
p {
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
    color: #6C6C72;
}
h2 {
    font-size: 20px;
    font-family: Josefin Sans, sans-serif;
    margin-bottom: 10px;
    color: #232233;
}
.imagen-header{
    margin-top: 5%; 
    display: flex; 
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}




.bloque-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
}

.bloque-section-texto  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
}

.bloque-section-texto p {
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
    color: #6C6C72;
    text-align: center;
    max-width: 300px;
}

.bloque-section-flotantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border:#232233 solid 1px;
    border-radius: 10px;
    width: 75%;
    height: 100%;
    box-shadow: 1px 8px 8px 1px rgba(0, 0, 0, 0.3);
    margin-top: 5%;
}


.contenedor-flotantes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bloque-section-flotantes-last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border:#232233 solid 1px;
    border-radius: 10px;
    width: 75%;
    height: 100%;
    box-shadow: 1px 8px 8px 1px rgba(0, 0, 0, 0.3);
    margin-top: 5%;
    margin-bottom: 15%;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
}

.contenedor-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
}

.contenedor-main-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
    margin-top: 5%;
}

.contenedor-main-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
    margin-top: 5%;
}


.main p {
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
    color: white;
    text-align: center;
    max-width: 300px;
}
.main h2

{
    font-size: 20px;
    font-family: Josefin Sans, sans-serif;
    margin-bottom: 10px;
    color: white;
}




.bloque-section-members{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
}

.bloque-section-members p {
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
    color: #6C6C72;
    text-align: center;
    max-width: 50%;
}

.contenedor-members{
    margin-top: 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 1px 8px 8px 1px rgba(0, 0, 0, 0.3);
    height: 80%;
    width: 50%;

}

.contenedor-members-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.imagen-member {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    object-fit: cover;
    border: 7px dashed #5956E9;
    max-width: 80%;
}

.imagen-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    
}

.linea-horizontal {
    width: 0.5%;
    height: 2rem;
    background-color: black;
    margin: 2%;
}

.linea-horizontal-bottom {
    width: 0.5%;
    height: 2rem;
    background-color:  white;
    margin: 2%;
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #232233;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
  
}


.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5%;


}

.footer-quick-link{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5%;


}

.footer-newsletter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5%;


}

.footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
    margin-top: 10px;
}

.footer h2 {
    margin-top: 5%;
    font-size: 20px;
    font-family: Josefin Sans, sans-serif;
    margin-bottom: 10px;
    color: white;
}

.footer p {
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
    color: white;
    text-align: center;
    max-width: 300px;
}











@media (min-width: 768px) {
}



@media (min-width: 992px) {

    .contenedor-header {
        flex-direction: row;
        justify-content: space-between;
    }

   .bloque-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .bloque-section img {
        width:35%;
    }

    .contenedor-flotantes {
        flex: 1;
        flex-direction: column;
    }


    .contenedor-main{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

     .contenedor-main-top {
        flex: 1;
        margin-right: 20px;
    }
    .contenedor-main-bottom{
        flex: 1;
        margin-left: 20px;
    }
    .contenedor-members-principal {
        flex-direction: row;
        justify-content: space-between; 
        align-items: flex-start;
        gap: 20px;
        
    }

    .contenedor-members {
        margin-right: auto;
        margin-left: auto;
        width: 25%; 
        height: 75%;
            
    }

    .footer{
            flex-direction: row;
            padding-top: 10%;
    }

    .footer-logo{
        margin-left: auto;
        margin-right: auto;
    }
    .footer-quick-link{
        margin-left: auto;
        margin-right: auto;
    }
    .footer-newsletter{
        margin-left: auto;
        margin-right: auto;
    }

}

    




