@import url('https://googleapis.com');
body {
    background-image: url("../images/fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 25px;
    font-family: Josefin Sans, sans-serif;
    margin-bottom: 10px;
    color: #4169E1;
}
h2 {
    font-size: 20px;
    font-family: Josefin Sans, sans-serif;
    margin-bottom: 10px;
    color: #232233;
}
p {
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
    color: #6C6C72;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-desktop {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 5%;
}
.header-desktop a{
    color: #fff;
    text-decoration: none;
}
.header-desktop-contactos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 4%;   
    width: 20%;
    gap: 5%;
}
.header-desktop-redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30%;
}
.mail{
    min-width: 300px;
}
.phone{
    min-width: 300px;
}
.barra-navegacion {
    display: flex;
    background-color: #fff;
    flex-direction: row;
    width: 95%;
    margin: 5% auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: visible;
}
.contenedor-lista{
    display: none;
}
.contenedor-lista ul{ 
    display: flex;         
    flex-direction: row;   
    justify-content: space-between;            
    list-style-type: none; 
    width: 300px;
  
}
.contenedor-lista a{
    display: flex;         
    flex-direction: row;   
    justify-content: space-between;     
    text-decoration: none;
}

.menu-check {
    display: none;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.hamburger-icon span {
    width: 25px;
    height: 3px;
    background-color: black;
}
.mobile-menu {
    display: none;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    background-color: white;
    position: absolute;
    width: 30%;
    border-radius: 5%;
    list-style: none;
}
.mobile-menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
.menu-check:checked ~ .mobile-menu {
    display: flex;
}
.bloque-imagen-contenedor {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    bottom: -20px;
    z-index: 10;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-imagen {
    width: 100%;
    height: auto;
}
.bloque-texto-download {
    color: white;
    background-color: #5956E9;
    font-size: 10px;
    font-family: Josefin Sans, sans-serif;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.contenedor-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    gap: 24px;
    padding: 24px 0;
    overflow: visible;
}
.bloque-texto-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4%;
    width: 30%;
    background-color: white;
    flex-wrap: wrap;
    box-shadow: 10px 8px 12px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    overflow: visible;
}
.bloque-texto-header::before {
    content: "";
    position: absolute;
    top: -7%;
    left: 3%;
    width: calc(100% + 20px);
    height: calc(100% + 40px);
    border: 10px solid #7572FF;
    border-left: none;
    background: transparent;
    box-sizing: border-box;
    z-index: 0;
}
.imagen-header {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: min(340px, 70vw);
    height: auto;
    z-index: 2;
}
.imagen-header img {
    width: 100%;
    height: auto;
    display: block;
}
.bloque-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
}
.bloque-section-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
}
.contenedor-flotantes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.bloque-section-flotantes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 75%;
    height: 100%;
    box-shadow: 1px 8px 8px 1px rgba(0, 0, 0, 0.3);
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.bloque-section-flotantes p {
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
    color: #6C6C72 !important;
    text-align: center;
    max-width: 300px;
}
.bloque-section-flotantes-last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 75%;
    height: 100%;
    box-shadow: 1px 8px 8px 1px rgba(0, 0, 0, 0.3);
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 15%;
}
.bloque-section-flotantes-last p {
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
    color: #6C6C72 !important;
    text-align: center;
    max-width: 300px;
}
.texto-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.texto-section-header h3 {
    white-space: nowrap;
    margin: 0;
}
.texto-section-image {
    height: 1.5em;
    width: 1.5em;
    object-fit: contain;
    vertical-align: middle;
}
.contenedor-imagen img {
    display: block;
    max-width: 100%;
}

.main h2 {
    font-size: 20px;
    font-family: Josefin Sans, sans-serif;
    margin-bottom: 10px;
    color: white;
}
.main p {
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
    color: white;
    text-align: center;
    max-width: 300px;
}
.contenedor-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
}
.contenedor-main-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
    margin-top: 5%;
}
.contenedor-main-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
    margin-top: 5%;
}
.texto-arriba-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.elementos-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.elementos-main-last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}
.elementos-main-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.bloque-section-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
    padding-bottom: 10%;
}
.bloque-section-members p {
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
    color: #6C6C72;
    text-align: center;
    max-width: 50%;
}
.contenedor-members-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.contenedor-members {
    margin-top: 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 1px 8px 8px 1px rgba(0, 0, 0, 0.3);
    height: 80%;
    width: 50%;
}
.imagen-member {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    object-fit: cover;
    border: 7px dashed #5956E9;
    max-width: 80%;
}
.imagen-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}
.linea-horizontal {
    width: 0.5%;
    height: 2rem;
    background-color: black;
    margin: 2%;
}
.linea-horizontal-bottom {
    width: 0.5%;
    height: 2rem;
    background-color: white;
    margin: 2%;
}
.bloque-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 20px 40px;
    width: 75%;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    gap: 20px;
    margin-top: -8%;
    margin-bottom: -8%;
}
.contacto-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.contacto-icono {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacto-icono img {
    width: 20px;
    height: 20px;
}
.linea-divisora {
    width: 40px;
    height: 1px;
    background-color: #ccc;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #232233;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
    padding-top: 10%;
}
.footer h2 {
    margin-top: 5%;
    font-size: 20px;
    font-family: Josefin Sans, sans-serif;
    margin-bottom: 10px;
    color: white;
}
.footer p {
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
    color: white;
    text-align: center;
    max-width: 300px;
}
.footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
    margin-top: 10px;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5%;
}
.footer-quick-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5%;
}
.footer-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5%;
}
@media (min-width: 768px) {
    .contenedor-main {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .contenedor-main-top {
        flex: 1;
        margin-right: 20px;
        justify-content: flex-end;
    }
    .contenedor-main-bottom {
        flex: 1;
        margin-left: 20px;
    }
    .contenedor-members-principal {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }
    .contenedor-members {
        margin-right: auto;
        margin-left: auto;
        width: 30%;
        height: 70%;
    }
}
@media (min-width: 992px) {
    .header-desktop {
        display: flex;
    }
    .contenedor-lista{
        display: flex;
    }

    .barra-navegacion{
        height: 50%;
    }
    .contenedor-header {
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
    }
    .hamburger-icon{
        display: none;
    }
    .bloque-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .bloque-section img {
        width: 35%;
    }
    .contenedor-flotantes {
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    .bloque-section-flotantes {
        width: 90%;
        margin-top: 3%;
    }
    .bloque-section-flotantes-last {
        width: 90%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .contenedor-main {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .contenedor-main-top {
        flex: 1;
        margin-right: 20px;
        justify-content: flex-end;
        gap: 200px;
    }
    .contenedor-main-bottom {
        flex: 1;
        margin-left: 20px;
        gap: 200px;
    }
    .contenedor-members-principal {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }
    .contenedor-members {
        margin-right: auto;
        margin-left: auto;
        width: 30%;
        height: 70%;
    }
    .footer {
        flex-direction: row;
        padding-top: 10%;
    }
    .footer-logo {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-quick-link {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-newsletter {
        margin-left: auto;
        margin-right: auto;
    }
}